<!DOCTYPE html>
<html> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Didier Pérez</title>
		<!-- CSS -->
		<link href="../../../public/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../public/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
<body>
<div id="wrapper">
	<header id="header" class="container">
  	<h1>Diseño y <br />Programación Web</h1>
    <nav id="menu">
    	<ul>
      	<li class="home"><span class="selected">Inicio</span></li>
        <li class="portfolio"><a href="#">Portfolio</a></li>
        <li class="contact"><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <section id="showcase" class="container">
  	<div id="prev" class="">
    	<img src="../../../public/img/icon/back.png" />
    </div>
    <div class="work">
    	<img src="../../../public/img/showcase.jpg" />
    </div>
    <div id="next" class="">
    	<img src="../../../public/img/icon/next.png" />
    </div>
  </section>
  <footer id="footer" class="container">
  	<ul>
    	<!-- vCard -->
    	<li class="vcard first">
      	<img src="../../../public/img/layout/perfil.jpg" id="photo" class="alignleft" />
      	<h3>Didier Pérez</h3>
       	<p>Programador Web</p>
        <p>Domino xHTML, CSS, Javascript(JQuery), PHP y AJAX</p>
        <p>Software: Firefox, Dreamweaver, Netbeans IDE</p>
      </li>
      <!-- Testimonials -->
      <li class="testimonial">
      	<h3>Testimonios</h3>
        <p></p><blockquote>"Muy conforme con el trabajo"</blockquote><p></p>
        <p class="right">&#8212; Ruben Hernandez</p>
      </li>
      <!-- Social -->
      <li class="social">
      	<h3>Ahora en Twitter</h3><br />
        <p><span class="author">@soyunhereje:</span> Para @AlvaroCueva la “democratización de los medios” es un tontería, pensaba diferente de él, ni modo.. http://bit.ly/bQXRoT</p>
      </li>
    </ul>
  </footer>
</div>
</body>
</html>
